DEBUG=True
DJANGO_SECRET_KEY=your-dev-secret-key
DATABASE_URL=postgres://swift_user:your_password@localhost:5432/swift_delivery
GOOGLE_MAPS_API_KEY=your-google-maps-server-key
REMOVE_BG_API_KEY=your-remove-bg-server-key
CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name
USE_CLOUDINARY=False
CLOUDINARY_FOLDER=swift-delivery/development
DJANGO_ADMIN_SETUP_ENABLED=False
DJANGO_ADMIN_USERNAME=
DJANGO_ADMIN_EMAIL=
DJANGO_ADMIN_PASSWORD=
